@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --fonte-textos: 'Inter', sans-serif;
    --cor-primaria: #101828;
    --cor-secundária: #8e2424;
    --cor-terciaria: #667085;
}

* {
    margin: 0;
    padding: 0;
}

.cabeçalho {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    margin: 2rem 0 0 12rem;
    align-items: center;
}

.listaAncoras {
    display: flex;
    gap: 5%;
}

.textoAncoras {
    text-decoration: none;
    font-family: var(--fonte-textos);
    color: var(--cor-terciaria);
    font-size: 1rem;
    font-weight: 500;
}

.botoes {
    display: flex;
    gap: 10%;
    text-align: center;
    align-items: center;
}

.cadastrar {
    color: #ffffff;
    background-color: var(--cor-secundária);
    padding: 10px 18px;
    border-radius: 8%;

}